<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form action="/result" method="post">
            <label for="name">Name: </label>
            <input type="text" name="name" placeholder="Enter Name">
            <br>
            <br>
            <label for="city">City: </label>
            <input type="text" name="city" placeholder="Enter City">
            <br>
            <br>
            <label for="age">Age: </label>
            <input type="number" name="age" placeholder="Enter Age">
            <br>
            <br>
            <label for="phone">Phone: </label>
            <input type="number" name="phone" placeholder="Enter Phone">
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>